
      <h1>Hi, <%= name %></h1>
      <p>You are successfully logged in</p>
      <h3>Your details are</h3>
      <p><%= JSON.stringify(details) %></p>

</br>
</br>
</br>
</br></br>

<h3>Thanks & Regards</h3>
<h2>APPKART</h2>